* {
	margin: 0;
}

#container {
	height: 800px;
	background-repeat: no-repeat;
	position: relative;
}

#clock, #hex {
	width: 300px;
	height: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

#clock {
	z-index: 1;
	transition: .5s;
}

#hex {
	opacity: 0;
	transition: .5s;
}

#clock:hover {
	cursor: pointer;
	opacity: 0;
	transition: .5s;
}

#clock:hover + #hex {
	opacity: 1;
	transition: .5s;
}

p {
	text-align: center;
	margin-top: 7%;
	font-size: 50px;
	font-family: 'Poiret One', cursive;
}

#progressBar {
	border: 2px solid black;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
